<a href="https://colab.research.google.com/github/OMRAKESHMITTAL/tumor-project/blob/main/APPLIED_STATICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODEL FOR SIZE OF TUMOR THROUGH LINEAR REGRESSION BY :
#    Om Mittal

In [ ]:
#MOUNTING GOOGLE DRIVE TO COLAB FOR CSV FILE READING
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#IMPORTING IMPORTANT LIBRARIES FOR LINEAR
import pandas as pd #to read csv file
from sklearn.linear_model import LinearRegression #for train according to linear regession
from sklearn.model_selection import train_test_split#to split the model for training and testing
from sklearn.metrics import r2_score #for accuray of model

In [ ]:
#loding data from google drive
t = pd.read_csv("/content/drive/MyDrive/tumor.csv")
t #printing dataset

,mass_npea,size_npear,malign_ratio,damage_size,exposed_area,tumor_size
0,4946.44,914.06,0.18479,54.5566,6.628345e+05,3.418762
1,5613.85,1629.12,0.29019,51.5524,7.842271e+05,7.348026
2,12421.10,3062.41,0.24654,154.1560,1.763575e+06,3.096391
3,6830.77,2457.66,0.35979,56.8995,9.296623e+05,10.489805
4,33407.80,12353.60,0.36978,219.0740,4.595871e+06,27.416072
...,...,...,...,...,...,...
36579,16301.90,4967.74,0.30473,210.0270,2.130257e+06,6.980089
36580,8111.15,1910.59,0.23555,70.8298,1.149657e+06,7.591675
36581,13554.10,3963.33,0.29240,144.6260,1.815171e+06,7.315385
36582,5764.68,1117.16,0.19379,54.9415,7.784623e+05,4.724118
36583,4419.05,840.74,0.19025,45.5905,5.966973e+05,3.169346

In [ ]:
t.shape# printing the size of dataset

(36584, 6)

In [ ]:
X=t.iloc[:,0:5] #defining label
Y=t.iloc[:,5] #defining classes
X_train, X_test, y_train, y_test= train_test_split(X, Y, test_size= 0.6) #splitting the dataset in test train and split

In [ ]:
#printing x
X

       mass_npea  size_npear  malign_ratio  damage_size  exposed_area
0        4946.44      914.06       0.18479      54.5566  6.628345e+05
1        5613.85     1629.12       0.29019      51.5524  7.842271e+05
2       12421.10     3062.41       0.24654     154.1560  1.763575e+06
3        6830.77     2457.66       0.35979      56.8995  9.296623e+05
4       33407.80    12353.60       0.36978     219.0740  4.595871e+06
...          ...         ...           ...          ...           ...
36579   16301.90     4967.74       0.30473     210.0270  2.130257e+06
36580    8111.15     1910.59       0.23555      70.8298  1.149657e+06
36581   13554.10     3963.33       0.29240     144.6260  1.815171e+06
36582    5764.68     1117.16       0.19379      54.9415  7.784623e+05
36583    4419.05      840.74       0.19025      45.5905  5.966973e+05

[36584 rows x 5 columns]

In [ ]:
#printing y
Y

0         3.418762
1         7.348026
2         3.096391
3        10.489805
4        27.416072
           ...
36579     6.980089
36580     7.591675
36581     7.315385
36582     4.724118
36583     3.169346
Name: tumor_size, Length: 36584, dtype: float64

In [ ]:
#printing first 5 coloum of X_train
X_train.head()

       mass_npea  size_npear  malign_ratio  damage_size  exposed_area
25021    6337.66     1826.02       0.28812      64.0168  8.358802e+05
24858   12792.90     4452.68       0.34805     114.5020  1.773302e+06
19491    8371.54     2384.26       0.28480      74.8215  1.132135e+06
9552     7492.96     2315.31       0.30899      64.8563  1.057301e+06
17658    4427.14     1484.84       0.33539      35.7454  6.189700e+05

In [ ]:
#printing first 5 coloum of Y_train
y_train.head()

25021     7.309850
24858    12.877252
19491     9.214883
9552      9.161016
17658     8.716940
Name: tumor_size, dtype: float64

In [ ]:
#printing first 5 coloum of X_test
X_test.head()

       mass_npea  size_npear  malign_ratio  damage_size  exposed_area
35148   17719.80     5364.28       0.30272     208.8310  2.442435e+06
5239     9230.47     2263.17       0.24518      82.1687  1.313768e+06
11256    5895.64      992.17       0.16828      53.8057  8.144741e+05
22801   13845.60     4496.51       0.32476     134.1590  1.929731e+06
28572    6535.72     1292.45       0.19775      47.5608  9.312717e+05

In [ ]:
#printing first 5 coloum of y_test
y_test.head()

35148     8.072661
5239      7.319611
11256     4.686570
22801    12.158401
28572     6.665962
Name: tumor_size, dtype: float64

In [ ]:
#loading Linear Regression in a variable
mod = LinearRegression()

In [ ]:
#training the model with X_train and y_train
mod.fit(X_train, y_train)

LinearRegression()

In [ ]:
#defining the intercept of the model
print(f"intercept: {mod.intercept_}")

intercept: -0.8226849027278096

In [ ]:
#defining the coffient of the model
print(f"slope: {mod.coef_}")

slope: [ 1.60151002e-03  6.58158896e-04  2.22102896e+01 -1.08981833e-01
 -3.42998509e-06]

In [ ]:
#testing the model
y_pred = mod.predict(X_test)
print(f"predicted response:\n{y_pred}") #printing the predicted value

predicted response:
[6.67349957 7.43394954 4.3523169  ... 8.1888969  8.67420335 7.07123172]

In [ ]:
q=r2_score(y_test,y_pred)#the accuray of the model
print(f"the accuracy of the model is {(q*100)}%")#the accuray of the model is less than expected

the accuracy of the model is 93.39687976385817%

In [ ]:
#now we are adding a data of our own
a = input("Want to check the size of tumor\n1. Yes \n2. No\n")
a = a.lower()
if(a=="yes"):
  b=float(input("Enter mass of area under study ="))
  c=float(input("Enter size of area under study ="))
  d=float(input("Enter m align ratio ="))
  e=float(input("Enter damaged size ="))
  f=float(input("Enter mass exposed area ="))
  z=[[b,c,d,e,f]]
  result = mod.predict(z)
  print(f"The size of Tumor is {result} with accuracy of {q*100}%")
else:
  print("Thanks for visiting")

Want to check the size of tumor
1. Yes
2. No
yes
Enter mass of area under study =3564.5
Enter size of area under study =3654.5
Enter m align ratio =0.3654
Enter damaged size =51.6
Enter mass exposed area =123478.63
The size of Tumor is [9.35978663] with accuracy of 93.39687976385817%

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(